---
# Word2Vec Similarity of Job-Posts
by Tobia Ippolito

---

## Table of Content
...

---

### Loading Data

In [9]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 KB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [10]:
import pandas as pd

data = pd.read_excel("../data_scientist_united_states_job_postings_jobspikr.xlsx")

In [11]:
data.head()

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 06:26:22,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 06:33:41,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 06:33:35,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 06:33:42,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 06:48:23,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crawl_timestamp       10000 non-null  datetime64[ns]
 1   url                   10000 non-null  object
 2   job_title             10000 non-null  object
 3   category              9118 non-null   object
 4   company_name          9999 non-null   object
 5   city                  9751 non-null   object
 6   state                 9584 non-null   object
 7   country               10000 non-null  object
 8   inferred_city         8980 non-null   object
 9   inferred_state        9484 non-null   object
 10  inferred_country      9505 non-null   object
 11  post_date             10000 non-null  datetime64[ns]
 12  job_description       10000 non-null  object
 13  job_type              10000 non-null  object
 14  salary_offered        597 non-null    object
 15  job_board             9310 non-null   object
 16  geo                   9300 non-null   object
 17  cursor                10000 non-null  int64
 18  contact_email         0 non-null      float64
 19  contact_phone_number  416 non-null    object
 20  uniq_id               10000 non-null  object
 21  html_job_description  1599 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(1), object(18)
memory usage: 1.7+ MB

In [14]:
data.shape

(10000, 22)

---

### Loading Word2Vec-Pretrained

Download bigger SpaCy text with:<br>
python -m spacy download en_core_web_lg

Or in Anaconda:<br>
conda install spacy-model-en_core_web_lg

In [16]:
job1 = data['job_description'][0]    # finance
job2 = data['job_description'][3]    # bio
job3 = data['job_description'][4]    # finance

In [2]:
import spacy

nlp = spacy.load("en_core_web_lg")
doc1 = remove_stopwords(nlp(job1))
doc2 = remove_stopwords(nlp(job2))

In [3]:
# remove stopwords
def remove_stopwords(doc):
    cache = []
    for token in doc:
        if not token.is_stop:
            cache += [token]
    return cache

In [ ]:
# go throw tokens and calc similarity
    # full similarity -> sum with all other tokens
text_similarity = dict()
for token in doc1:
    sum_sim = 0
    for token_other in doc2:
        sim += token.similarity(token_other)
        
    label = token.text
    i = 1
    while label in text_similarity.keys():
        label = f"token.text{i}"
        i += 1
    text_similarity[label] = sum_sim

In [ ]:
# token1.similarity(token2)